section#about-us
  div(class=`${prefix}-about`)
    div(class=`u-${prefix}-wrapper ${prefix}-about__wrapper`)
      +genTitle('sec', `about`, 'About us', true)
      include ./components/AboutInfo
      include ./components/AboutMedia
