div(class=`${prefix}-info ${prefix}-info--is-footer-contacts prefix-footer__info`)
  +genTitle('', `info`, 'Contact')
  div(class=`${prefix}-info__text`) 624 Green Ave, Suite 123 New York, CA 84104
  +genIconMenu(menuSocials, `${prefix}-info`, '_blank')
