section#banner.banner.main__banner
  .u-wrapper.banner__wrapper
    header.banner-header.banner__header
      +genTitle('main', 'banner-header', content.banner.title)
      a(href='#contacts').link.link--is-btn.banner-header__link
        span.link__text= content.banner.btnLink
  footer.banner-footer.banner__footer
    a(href='#about-us').link.link--is-absoluted.banner-footer__link.pulse
      svg.link__icon
        use(xlink:href='/img/sprite.svg#arrow-down')
