div(class=`u-${prefix}-wrapper ${prefix}-footer__wrapper`)
  div(class=`${prefix}-footer__upper`)
    include ./components/FooterMenu
    include ./components/SubscribeForm
    include ./components/Contacts

  div(class=`${prefix}-footer__lower`)
    include ./components/Copyright
    +genMainMenu(menuPolicy, `footer`)
