section#about-us.about-us
  .u-wrapper.about-us__wrapper
    .about-us__content
      +genTitle('sec', 'about-us', content.aboutUs.title, true)

      for aboutInfo in content.aboutUs.text
        p.info.about-us__info
          span.info__text!= aboutInfo

    .about-us__photo

