.about-us {
  &__wrapper {
    flex-direction: row;

    @include media(tablet, 'max') {
      flex-direction: column;
    }
  }

  &__title {
    font-weight: 500;
    margin-bottom: em(46, $fz);

    @include media(desktop, 'max') {
      margin-bottom: em(10, $fz);
    }

    @include media(tablet, 'max') {
      margin-bottom: 0;
      text-align: center;
    }
  }

  &__info {
    max-width: em(541, $fz);
    line-height: em(32, $fz);
  }

  &__content {
  }

  &__photo {
    margin-left: em(30, $fz);
    flex-shrink: 0;
    background-image: url('/img/about-us/photo.jpg');
    background-size: cover;
    max-width: em(495, $fz);
    width: 100%;
    height: em(437, $fz);

    @include media('widescreen', 'max') {
      max-width: em(395, $fz);
      height: em(350, $fz);
    }

    @include media(desktop, 'max') {
      max-width: em(270, $fz);
      height: em(230, $fz);
      margin-left: em(40, $fz);
    }

    @include media(tablet, 'max') {
      margin-bottom: em(10, $fz);
      order: -1;
      max-width: 100%;
      height: em(160, $fz);
      margin-left: 0;
      background-position: top center;
    }
  }

  .title {
    &__text {
      @include media(desktop, 'max') {
        $fz: 24;
        font-size: em($fz, $fz_base);
      }
    }
  }

  .info {
    @include media(desktop, 'max') {
      text-align: justify;
    }

    &__text {
      @include media(tablet, 'max') {
        $fz: 12;
        font-size: em($fz, $fz_base);
      }
    }
  }
}
