mixin genLogo(parent)
  a(class=`${prefix}-logo ${prefix}-${parent}__logo` href=company.logo.url title=company.logo.urlTitle)
    picture(class=`${prefix}-logo__pic`)
      source(type='image/webp' srcset=`./img/${company.logo.fileName}.webp`)
      img(class=`${prefix}-logo__img` alt=alt src=`./img/${company.logo.fileName}.png`)

mixin genMeta(name, content)
  meta(name=name content=content)

mixin genLink(file, rel)
  if(rel === 'shortcut icon')
    link(href='./img/' + file, rel=rel)
  else if(rel === 'stylesheet')
    link(href='./css/' + file + '.css', rel=rel)

mixin genScript(file)
  script(src="./js/" + file + ".js")

mixin genIconMenu(menu, parent, target)
  ul.list(class=`${parent}__list`)
    for val in menu
      li.list__item
        a.list-link.list__link(href=val.url title=val.urlTitle target=target)
          svg.list-link__icon
            use(xlink:href=`./img/sprite.svg#${val.postfix}`)

mixin genMainMenu(menu, parent, mode= '', isNav= false, isHeader= false)
  if isNav
    nav.nav(class=`${parent}__nav`)
      span.nav__line
      if isHeader
        button.nav-burger.nav__burger.js--toggle-burger(aria-label='Close menu')
          span.nav-burger__line
      ul.nav-list.nav__list.js--toggle-by-burger
        for val in menu
          li.nav-list__item
            a.nav-list-link.nav-list__link(href=val.url title=val.urlTitle)
              span.nav-list-link__text= val.title
  else
    ul.list(class=`${parent}__list ${(mode) ? 'list--' + mode : ''}`)
      for val in menu
        li.list__item
          a.list-link.list__link(href=val.url title=val.urlTitle)
            span.list-link__text= val.title

mixin genTitle(type, parent, text, isInvert = false)
  if type === 'main'
    h1.title.title--is-primary(class=`title ${(isInvert) ? 'title--is-inverted' : ''}  ${parent}__title ${parent}__title--is-primary`)
      span.title__text= text
  else if type === 'sec'
    h2.title.title--is-sec(class=`${(isInvert) ? `title--is-inverted` : ``} ${parent}__title ${parent}__title--is-sec`)
      span.title__text= text
  else if type === 'thd'
    h3.title.title--is-thd(class=`${(isInvert) ? `title--is-inverted` : ``} ${parent}__title ${parent}__title--is-thd`)
      span.title__text= text
  else
    h4.title.title--is-other(class=`${(isInvert) ? `title--is-inverted` : ``} ${parent}__title ${parent}__title--is-other`)
      span.title__text= text

mixin genInput(type='', name='', title='', isChecked=false, isRequired=true, parent=`contacts-form`)
    fieldset(class=`${parent}-field ${parent}__field`)
      if isChecked
        div(class=`${parent}-field-checkbox ${parent}-field__checkbox'`)
          span(class=`${parent}-field-checkbox__text`)
      label(for=name class=`${parent}-field-title ${parent}-field__title`)
          span(class=`${parent}-field-title__text`)!= title
      if type !== 'textarea'
        input(id=name class=`${parent}-field__input` type=`${type}` name=`${name}` required=`${isRequired}` hidden=`${isChecked}`)
      else
        textarea(id=`${name}` class=`${parent}-field__textarea` name=`${name}` required=`${isRequired}`)
