.swiper-container(class=`${prefix}-projects__swiper`)
  .swiper-wrapper
    .swiper-slide
      include ./ProjectsItem
    .swiper-slide
      include ./ProjectsItem
    .swiper-slide
      include ./ProjectsItem
  span.swiper-button-prev
  span.swiper-button-next
