article(class=prefix + '-project' + prefix + '-projects__project')
  +genTitle('other', prefix + '-project', 'Prototype')
  picture(class=prefix + '-project__pic')
    img(src='/img/' alt='Project by me' class=prefix + '-project__img')
