mixin getAbout(parent, data)
  section#about.about(class=`${(parent) ? parent + '__about' : ''}`)
    .u-wrapper.u-wrapper--is-row.about__wrapper
      .about__left
        +getTitle('about', data.title, true)
        +getParagraph('about', data.desc)
      .about__right
        picture.about-pic.about__pic
          source(srcset='./img/about/front.webp' type='image/webp')
          img(src='./img/about/front.jpg' alt='Front picture').about-pic__img
        picture.about-pic.about-pic--is-absoluted.about__pic
          source(srcset='./img/about/back.webp' type='image/webp')
          img(src='./img/about/back.jpg' alt='Front picture').about-pic__img
