include components/work/Index

mixin getProjects(parent, data)
  section.projects
    .u-wrapper.projects__wrapper
      +getTitle('projects', data.title, true)

      +getSubtitle('projects', data.subtitle)

      +getParagraph('projects', data.desc)

      ul.projects-list.projects__list
        for item in data.works
          li.projects-list__item
            +getWork('projects-list', item)
