.projects {
  padding-top: em(118, $fz);
  padding-bottom: em(118, $fz);

  &__wrapper {
    align-items: flex-start;
  }

  &__subtitle {
    margin-top: em(25, $fz);
  }

  &__paragraph {
    max-width: em(522, $fz);
    margin-top: em(11, $fz);
  }

  &__list {
    margin-top: em(41, $fz);
  }
}

.projects-list {
  &__item {
    &:not(:first-child) {
      display: none;
    }
  }

  &__work {
    position: relative;
  }
}
