section#our-team
  .bel-team
    .__wrapper.bel-wrapper
      +genTitle('sec', 'bel-team', 'Our team')
      ul.bel-team-list.__list
        li.__item
          article.bel-teammate.__teammate
            header.__header
              picture.__pic
                img.__img(src="" alt="")
              +genTitle('thd', 'bel-teammate', 'Alexander Duma')
            p.bel-desc.__desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum at vestibulum est. Maecenas elit turpis, dictum et purus maximus, posuere iaculis est. Nam id maximus sem.
            footer.__footer
              +genIconMenu('','bel-teammate','_blank')
