section#our-team
  div(class=prefix + '-team')
    div(class=prefix + '-wrapper ' + prefix + '-team__wrapper')
      +genTitle('sec', prefix + '-team', 'Our team')
      include ./components/TeamList
