section#our-team
  .bel-team.bel-wrapper
    h2.bel-title.__title
      span.__text Our team
    ul.bel-list.__list
      .__item
        article.bel-teammate.__teammate
          header.__header
            picture.__pic
              .__img
            h3.bel-title.__title
              span.__text Alexander Duma
          p.bel-desc.__desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum at vestibulum est. Maecenas elit turpis, dictum et purus maximus, posuere iaculis est. Nam id maximus sem.
          footer.__footer
            +genMenu('','bel-teammate','__blank')
