body {
  font: #{$fz_base}px/1.5 '#{$main_font}','Arial', 'Roboto', sans-serif;
}

.header {
  &--is-fixed {
    position: fixed;
    z-index: 1000;
    width: 100%;
  }

  &--is-sticky {
    position: sticky;
  }
}

.landing-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  margin-right: auto;
  margin-left: auto;
}

.u-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-right: em(15, $fz);
  padding-left: em(15, $fz);
  width: 100%;
  max-width: em(1140, $fz);
  margin-right: auto;
  margin-left: auto;

  @include media('widescreen', 'max') {
    max-width: em(990, $fz);
  }

  @include media('desktop', 'max') {
    max-width: em(760, $fz);
  }

  &--is-row {
    flex-direction: row;
  }
}
