* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font: inherit;
}

html {
  scroll-behavior: smooth;
}

body {
  font: #{$fz_base}px/1.5 'Arial', 'Roboto', sans-serif;
}

.#{$prefix}-header {
  &--is-fixed {
    position: fixed;
    width: 100%;
  }

  &--is-sticky {
    position: sticky;
  }
}

main {
  flex: 1 0 auto;
}

section {
  height: 100vh;
}

picture {
  display: inline-block;
  width: 100%;
  line-height: 0;
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

a {
  text-decoration: none;
  transition: opacity 0.3s ease-in-out;

  &:hover {
    opacity: 0.6;
  }
}

button {
  cursor: pointer;
  outline: none;
  border: none;
  background-color: transparent;

  &:focus {
    outline: none;
  }
}

ul {
  display: flex;
  align-items: center;
  list-style: none;
}

input {
  &::placeholder {
    opacity: 0.6;
  }
}

footer {
  flex: 0 0 auto;
}

.#{$prefix}-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  margin-right: auto;
  margin-left: auto;
}

.u-#{$prefix}-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-right: em(15, $fz);
  padding-left: em(15, $fz);
  width: 100%;
  max-width: em(1140, $fz);
  margin-right: auto;
  margin-left: auto;
}
