.link {
  display: inline-block;
  border-radius: em(4, $fz);

  &--is-btn {
    padding: em(11 15, $fz);
    background-color: color(theme);
    text-align: center;
    transition: background-color 0.3s ease-in-out;

    &:hover {
      opacity: 1;
      background-color: desaturate(darken(color(theme), 4%), 14%);
    }
  }

  &__text {
    color: color(secondary);
  }
}
