.#{$prefix}-menu {
  display: flex;
  position: relative;

  header &__line {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: em(2, $fz);
    background-color: $primary;
    transition: left 0.3s ease-in-out, max-width 0.3s ease-in-out;
  }
}

.#{$prefix}-menu-list {
  $self: &;
  display: flex;
  position: relative;

  &__item {
    &:nth-child(2) {
      &:hover {
        ~ #{$self}::after {
          left: 20%;
        }
      }
    }

    &:not(:last-child) {
      padding-right: em(15, $fz);
    }
  }
}

.#{$prefix}-menu-list-link {
  letter-spacing: em(0.15, $fz);

  &:hover {
    opacity: 1;
  }

  &__text {
    $fz: 18;
    font-size: em($fz, $fz_base);
    font-weight: 500;
    color: $secondary;
  }
}
