.nav {
  display: flex;
  position: relative;

  @include media(tablet, 'max') {
    position: static;
  }

  .header &__line {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: em(2, $fz);
    background-color: color(theme);
    transition: left 0.3s ease-in-out, max-width 0.3s ease-in-out;

    @include media(tablet, 'max') {
      opacity: 0;
    }
  }

  &__burger {
    position: relative;
  }

  &__list {
    position: relative;

    @include media(tablet, 'max') {
      position: absolute;
      top: em(50, $fz);
      left: -100vw;
      width: 100vw;
      transition: left 0.3s ease-in-out;

      &--is-active {
        left: 0;
      }
    }
  }
}

.nav-list {
  $self: &;
  display: flex;

  @include media(tablet, 'max') {
    flex-direction: column;
    padding: em(15, $fz);
    border-top: 1px solid color(secondary);
    background-color: color(primary);
  }

  &__item {
    @include media(tablet, 'max') {
      &--is-active {
        #{$self} {
          &__link {
            border-bottom: 2px solid color(theme);
          }
        }
      }
    }

    &:nth-child(2) {
      &:hover {
        ~ #{$self}::after {
          left: 20%;
        }
      }
    }

    &:not(:last-child) {
      padding-right: em(15, $fz);

      @include media(tablet, 'max') {
        padding-right: 0;
      }
    }
  }
}

.nav-list-link {
  letter-spacing: em(0.15, $fz);

  &:hover {
    opacity: 1;
  }

  &__text {
    $fz: 18;
    font-size: em($fz, $fz_base);
    font-weight: 500;
    color: color(secondary);
  }
}

.nav-burger {
  $self: &;
  $fz: 16;
  display: none;
  width: em(30, $fz);
  height: em(30, $fz);
  font-size: 16px;

  @include media(tablet, 'max') {
    display: block;
  }

  &--is-active {
    &#{$self} {
      &::before,
      &::after {
        position: absolute;
        top: 50%;
      }

      &::before {
        transform: rotateZ(45deg) translateY(-50%);
      }

      &::after {
        transform: rotateZ(-45deg) translateY(-50%);
      }

      #{$self}__line {
        display: none;
      }
    }
  }

  &::before,
  &::after {
    content: '';
    display: block;
    width: 100%;
    height: em(2, $fz);
    background-color: color(secondary);
    transition: transform 0.3s ease-in-out;
    will-change: transform;
  }

  &__line {
    display: block;
    width: 100%;
    height: em(2, $fz);
    margin-top: em(5, $fz);
    margin-bottom: em(5, $fz);
    background-color: color(secondary);
  }
}
