.title {
  text-transform: uppercase;
  font-weight: 700;
  color: color(secondary);

  &--is-inverted {
    color: lighten(color(primary), 14%);
  }

  &__text {
    $fz: 36;
    font-size: em($fz, $fz_base);
    line-height: em(56, $fz);
    letter-spacing: em(0.15, $fz);
  }
}
