.nav {
  &__list {
    margin-left: auto;
  }
}

.list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;

  &--is-column {
    flex-direction: column;
  }
}
