mixin getBanner(parent)
  section.banner(class=`${(parent) ? parent + '__banner' : ''}`)
    h1.banner-title.banner__title
      span.banner-title__text One page
    +getButton('banner', 'button', 'Start now')
