mixin getBanner(parent, data)
  section.banner(class=`${(parent) ? parent + '__banner' : ''}`)
    h1.banner-title.banner__title
      span.banner-title__text= data.title
    +getButton('banner', 'button', data.btnText)
