extends ../templates/_template

block SEO
    +getMeta('description', page.index.description)
    +getMeta('keywords', page.index.keywords)
    title= page.index.title

include ../components/header/Index
include ../components/main/Index
include ../components/footer/Index
