include _mixins
doctype html
html(lang="en")
    head
        meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
        +genMeta('viewport', 'width=device-width, initial-scale=1')
        block SEO
        each val, i in copyright
          +genMeta(i, val)
        +genLink('favicon.ico', 'shortcut icon')
        +genLink('styles', 'stylesheet')
    body
        .bel-landing
            header.bel-header.__header
              .__wrapper.bel-wrapper
                include ../components/logo/Index
                +genMainMenu(menuBlocks, 'bel-header', true)

            main.bel-main.__main
              block Main

            footer.bel-footer.__footer
              .__wrapper.bel-wrapper
                .__upper
                  .bel-links.__links
                    +genTitle('', 'bel-links', 'Site links')
                    +genMainMenu(menuBlocks, 'bel-links', true)
                  .bel-subscribe.__subscribe
                    +genTitle('', 'bel-subscribe', 'Subscribe')
                    form.bel-subscribe-form.__form
                      input.__email
                      button.__submit
                  .bel-info.__info
                    +genTitle('', 'bel-info', 'Contact')
                    .__text 624 Green Ave, Suite 123 New York, CA 84104
                    +genIconMenu(menuSocials, 'bel-info', '_blank')

                .__lower
                  .bel-copyright.__copyright © 2018 Company. Tagline lorem ipsum dolor sit amet, consectetur adipiscing eiusmod
                  +genMainMenu(menuPolicy, 'bel-footer')

        +genScript('libs.min')
        +genScript('app.min')
