include _mixins
doctype html
html(lang="en")
    head
        meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
        +genMeta('viewport', 'width=device-width, initial-scale=1')
        block SEO
        each val, i in copyright
          +genMeta(i, val)
        +genLink('favicon.ico', 'shortcut icon')
        +genLink('styles', 'stylesheet')
    body
        .bel-landing
            header.bel-header.__header
              .__wrapper.bel-wrapper
                include ../components/logo/Index
                nav.bel-menu.__menu
                  +genMenu(menuBlocks, 'bel-menu')

            main.bel-main.__main
              block Main

            footer.bel-footer.__footer
              .__wrapper.bel-wrapper
                .__upper
                  nav.bel-menu.__menu
                    +genMenu(menuBlocks, 'bel-menu')
                  .bel-subscribe.__subscribe
                    .__title Subscribe
                    form.bel-subscribe-form.__form
                      input.__email
                      button.__submit
                  .bel-info.__info
                    .__title Contact
                    .__text 624 Green Ave, Suite 123 New York, CA 84104
                    +genMenu(menuSocials, 'bel-info')

                .__lower
                  .bel-copyright.__copyright © 2018 Company. Tagline lorem ipsum dolor sit amet, consectetur adipiscing eiusmod
                  +genMenu(menuPolicy, 'bel-footer', '__blank')

    +genScript('libs.min')
    +genScript('app.min')
